:root{
    --color-bg: #F2F2F2;
    --color-bg2: #FFFFFF;
    --color-text: #323232;
    --color-text-offset: #FFFFFF;
    --color-primary: #323232;
    --color-secondary: #696969;
    --color-state: #A7A7A7;
    --color-details: #F2F2F2;
}


/* Changer les noms des vraiables */