@use "utils/variables" as v;

.lexique-wrapper{
    display: none;
}

body[data-intro]{
    .lexique-wrapper{
        display: block;
    }
    .lexique__item{
        display: none;
    }

    .cta--lexique{
        position: absolute;
        top: 32px;
        right: 6.4vw;
        z-index: 7;
    }
}


body[data-lexique] .cta--lexique{
    color: transparent;
 }

body[data-lexique] .lexique{
    background-color: var(--color-bg2);
    position: absolute;
    top: -32px;
    right: 0;
    z-index: 6;
    width: 100vw;

    &__item{
        display: block;
        margin-bottom: 3rem;
        padding: 0 6.4vw;
        max-width: 340px;

        &:first-child{
            padding-top: 9rem;
        }
    }
}


body[data-lexique] .path_1{
    transform: rotate(45deg) translateX(5px) translateY(-12px);
}

body[data-lexique] .path_2{
    opacity: 0;
}

body[data-lexique] .path_3{
    transform: rotate(-45deg) translateX(-13px) translateY(17px);
}


@media (min-width: 1024px){

    body[data-lexique] .lexique{
        width: 40vw;
        height: 100vh;
        overflow-y: scroll;
    }
}