@use "utils/variables" as v;

.menu{
    
    &__logo{
        position: relative;
        width: 20vw;
        top: 16px;
        left: 6.4vw;
        z-index: 5;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
    }
}