@use "utils/variables" as v;

.cta{
    font-family: sora, sans-serif;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;

    &__svg{
        margin-left: 8px;
        margin-top: -3px;
    }
    &--intro{
        padding-left: 0%;
    }

    &--lexique{
        display: flex;
        align-items: center;
    }

    &--comparer, &--changer, &--actif{
        padding: 7px 10px;
    }
}

.burger{
    width: 20px;
    height: 20px;
    padding-left: 8px;
}
