.my-chart-container {
  width: 110px;
  padding: 0px 4rem;
  margin-top: 3rem;
}
.charts{
  display: flex;
  padding: 3rem 6.4vw;
  padding-bottom: 0;
  justify-content: center;
}
.listcar{
  display: flex;
  flex-wrap: wrap;
}
.chart__item{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title{
    padding: 0px 1rem;
  }
}


.choix{
  max-width: 150px;
  height: auto;
  border: 1px solid #F2F2F2;
  filter: saturate(0.0);
  margin: 1.5rem 0rem;
  opacity: 0.7;
}

.selected{
  border-radius: 5px;
  filter: saturate(1);
  opacity: 1;
  transition: 0.3s;
}