@use "utils/variables" as v;

.link{
    text-decoration: none;
    color: var(--color-text);
    cursor: pointer;

    &--cta, &--hero{
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 8%;
        text-transform: uppercase;
        line-height: 1;
    }
    

    &--hero svg{
        margin-left: 1rem;
    }

    &--footer{
        &:hover, &:focus{
            border-bottom: 1px solid var(--color-text);
            padding-bottom: 2px;
        }
        &:active{
            color: var(--color-text);
            border: 0;
        }
    }
}

.cta{
    & svg{
        margin-left: 1rem;
    }
    
    &:hover, &focus{
        font-weight: 600;
        transition: 0.1s;
        

        &:active{
            color: var(--color-primary);
        }
    }
}