@use "utils/variables" as v;

body{
    font-family: runda, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: var(--font-regular);
    color: var(--color-text);
    background-color: var(--color-bg);
    margin: 0;
}

/* MOBILE TYPE */
/* ratio 1.250 */
.title{
    font-family: aktiv-grotesk, sans-serif;
    line-height: 1.2;

    &--big{
        font-size: 31px;
        font-weight: 500;
        margin: 0;
        letter-spacing: -1px;
    }
    &--middle{
        font-size: 25px;
        font-weight: 500;
        margin: 0;
    }
    &--small{
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }
    &--last{
        font-size: 16px;
        font-weight: 300;
        margin: 0;
    }
}

.p-bold{
    font-size: 16px;
    font-weight: 500;
}

.outline{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 8%;
    text-transform: uppercase;
    line-height: 1;
}

.copyright{
    font-size: 14px;
}

.contrast{
    color: var(--color-primary);
}


@media (min-width: 768px){
    body{
        font-size: 17px;
    }
    .title{
        &--big{
         font-size: 52px;   
        }
        &--middle{
         font-size: 33px;
        }
        &--small{
         font-size: 27px;
        }
        &--last{
            font-size: 21px;
        }
    }
    .headline{
        font-size: 17px;
        
        
    }
    .p-bold{
        font-size: 17px;
    
    }
    .outline{
        font-size: 17px;
    }
    .copyright{
        font-size: 14px;
    }
}

@media (min-width: 1024px){

    /* 1.333 ratio, 17px */
    .title{
        &--big{
            font-size: 72px;
        }
        &--middle{
            font-size: 40px;
        }
        &--small{
            font-size: 30px;
        }
        &--last{
            font-size: 23px;
        }

    }
    .p-bold{
        font-size: 17px;
    
    }
    .outline{
        font-size: 16px;
    }
    
    .copyright{
        font-size: 14px;
    }
}
